<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head') %>
</head>

<body>

    <div class="container">
        <h3 class="my-5">Welcome to <%= heading %></h3><br>
        <h3 class="my-5">Welcome to <%= user %></h3><br>
        <% var newLine = matches.split(",").join("\n"); %>
        <h3 class="my-5">Cliam Details <%= newLine %></h3><br>
        
    </div>

</body>
<%- include ('./partials/head') %>
</html>